<div class="container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="customerId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
        </ng-container>
        <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="history">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> History </th>
            <td mat-cell *matCellDef="let element"> {{element.history}} </td>
        </ng-container>
        <ng-container matColumnDef="dietryRequirements">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dietry Requirements </th>
            <td mat-cell *matCellDef="let element"> {{element.dietryRequirements}} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit/Delete </th>
            <td mat-cell *matCellDef="let element">
                <fa-icon [icon]="faEdit"></fa-icon>&nbsp;&nbsp;<fa-icon (click)="deleteCustomer(element.customerId)" [icon]="faTrash"></fa-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>