mat-card {
  height: 100%;
  width: 100%;
  padding: 1px;
}

mat-card-title {
  padding: 10px;
}

mat-card-subtitle {
  padding: 1px;
  font-size: 16px;
}

.container:hover {
  background-color: #0088ce;
  mat-card-subtitle,
  mat-card-title {
    color: white;
  }
}
