footer {
  bottom: 0;
  width: 100%;
  padding-bottom: 0.5%;
  padding-top: 2%;

}

.footer {
  width: 100%;
  margin: auto;
  text-align: center;
  border-top: 4px solid gray;
  border-radius: 8px 8px 0px 0px;
}
