<div class="container">
    <div class="title">
        <h3>My Dashboard</h3>
    </div>
    <mat-tab-group>
        <mat-tab label="Home">
            <div class="tab-content">
                <app-dashboard-overview class="width100"></app-dashboard-overview>
            </div>
        </mat-tab>
        <mat-tab label="Bookings">
            <div class="tab-content">
                <app-view-bookings class="width100"></app-view-bookings>
            </div>
        </mat-tab>
        <mat-tab label="New Booking">
            <div class="tab-content">
                <app-new-booking class="width100"></app-new-booking>
            </div>
        </mat-tab>
        <mat-tab label="Reports">
            <div class="tab-content">
                <app-reports class="width100"></app-reports>
            </div>
        </mat-tab>
        <mat-tab label="New Customer">
            <div class="tab-content">
                <p>New customer form goes here</p>
            </div>
        </mat-tab>
        <mat-tab label="Staff Management">
            <div class="tab-content">
                <p>Manage staff (Add/edit/delete)</p>
            </div>
        </mat-tab>
        <mat-tab label="Feedback">
            <div class="tab-content">
                <p>Manage customer feedback for bookings</p>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>


