<div class="container">
    <div class="title">
        <h3>My Dashboard</h3>
    </div>
    <mat-tab-group>
        <mat-tab label="Home">
            <div class="tab-content">
                <app-dashboard-overview></app-dashboard-overview>
            </div>
        </mat-tab>
        <mat-tab label="Bookings">
            <div class="tab-content">
                <app-view-bookings></app-view-bookings>
            </div>
        </mat-tab>
        <mat-tab label="New Booking">
            <div class="tab-content">
                <app-new-booking></app-new-booking>
            </div>
        </mat-tab>
        <mat-tab label="Reports">
            <div class="tab-content">
                <app-reports></app-reports>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>