<div class="container">
    <form>
        <div class="form-group">
            <div class="row pt-2">
                <div class="col">
                    <label for="name">Customer Name</label>
                    <input type="text" class="form-control" [(ngModel)]="customer.name" name="name" #ctrl="ngModel" id="name" required>
                </div>

                <div class="col">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" [(ngModel)]="customer.phone" name="phone" #ctrl="ngModel" id="phone" required>
                </div>
            </div>

            <div class="row pt-2">
                <div class="col">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" [(ngModel)]="customer.email" name="email" #ctrl="ngModel" id="email" required>
                </div>
            </div>
            <br>

            <div class="row pt-2">
                <div class="col">
                    <label for="history">History</label>
                    <select class="form-control" id="history" [(ngModel)]="customer.history" name="history" #ctrl="ngModel" placeholder="select">
                        <option>Excellent</option>
                        <option>Good</option>
                        <option>Bad</option>
                        <option>Banned</option>
                    </select>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col">
                    <label for="dietryRequirements">Dietry Requirements</label>
                    <textarea class="form-control" [(ngModel)]="customer.dietryRequirements" name="dietryRequirements" #ctrl="ngModel" id="dietryRequirements" rows="3"></textarea>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col">
                    <button type="button" class="btn btn-outline-success" (click)="saveCustomer()">Save Customer</button>&nbsp;
                    <button type="button" class="btn btn-outline-danger" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
<br />
<br />
<div *ngIf="saveSuccess" class="alert alert-success pt-35" role="alert">
    <span >The customer was sucessfully created</span>
</div>