<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<body>
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
        </div>
        <div class="w3-display-middle">
            <h1 class="w3-jumbo w3-animate-top" style="text-align: center;">Hospitality Booking System</h1>
            <hr class="w3-border-grey" style="margin:auto;width:40%">
            <p class="w3-large w3-center">Bookings | Reports | Feedback</p>
            <div class="log-in">
                <button type="button" class="btn btn-success w3-center" (click)="signUpClick()">Sign Up</button>&nbsp;
                <button type="button" class="btn btn-primary w3-center" (click)="logInClick()">Log In</button>
            </div>
            <div class="center">
                <app-log-in *ngIf="logInClicked && !signUpClicked"></app-log-in>
                <app-sign-up *ngIf="signUpClicked && !logInClicked"></app-sign-up>
            </div>
        </div>
    </div>
</body>

</html>