body,
h1 {
  font-family: "Raleway", sans-serif;
}

body,
html {
  height: 100%;
}

.bgimg {
  background-image: url("https://www.w3schools.com/w3images/forestbridge.jpg");
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.log-in {
  text-align: center;
}