@import "../../../styles.css";

header {
  display: flex;

  top: 0;
  /* center the element */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  margin-bottom: 2%;
  border-radius: 0px 0px 8px 8px;
  border-bottom: 4px solid gray;
}

.header {
  display: flex;
  width: 50%;
  border: 2px solid yellow;
  text-align: center;
}

.logo {
  width: 80px;
  height: 80px;
  display: inline-block;
  left: 0;
  right: 0;
  border: 2px solid red;
  margin: 10px;
  float:left;
}

.brand-name {
  float: Left;
  text-align: center;
}


.topnav {
  margin: 10px;
  right: 0;
  margin-left: auto;
  text-align: center;
  border: 2px solid blue;
}

.icon-group {
  float: left;
  height: 60px;
  width: 60px;
  border: 2px solid red;
  margin: 10px;
}

.icon-icon {
  margin-right: auto;
  margin-left: auto;
  width: 42px;
  height: 42px;
}

.icon-text {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border:2px solid purple;
}


