@import "../../../styles.css";

header {
  display: flex;

  top: 0;
  /* center the element */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  margin-bottom: 2%;
  border-radius: 0px 0px 8px 8px;
  border-bottom: 4px solid gray;
}

.header {
  display: flex;
  width:50%;
  border: 2px solid yellow;
  text-align: center;
}

.logo {
  width: 80px;
  height: 80px;
  display: inline-block;
  left: 0;
  right: 0;
  border: 2px solid red;
}

.brand-name {

text-align: center;
}


.topnav {
  right: 0;
  margin-left: auto;
  width: 50%;
  text-align: right;
  border: 2px solid blue;
}

.logout-group {
  display: flex;
  right: 0;
  top: 16px;
  height: 45px;
  width: 39px;
  position: absolute;
}

.logout-icon {
  left: 6px;
  top: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}

.icon-text {
  left: -4px;
  top: 30px;
  position: absolute;
}

.setting-group {
  display: flex;
  right: 0;
  top: 16px;
  height: 45px;
  width: 48px;
  position: absolute;
}

.setting-icon {
  left: 9px;
  top: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}

.setting-text {
  left: 0px;
  top: 29px;
  position: absolute;
}
