
@import "../../../styles.css";

.topnav {
  top: 0;
  /* center the element */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  text-align: center;
  // border-bottom: 2px solid gray; // my changes conflicting with nathans
  margin-bottom: 2%;
}
  
header {
  display: flex;
  border-radius: 0px 0px 8px 8px;
  text-align: center;
  border: 2px solid red;
}

.header {
  display: flex;
  width: 100%;
  border: 2px solid yellow;
  text-align: center;
}

