<div class="AcPanel">
    <p>change Icon: <button class="search image" type="submit">search image</button></p>
    <hr>
    <p>Business Name: <input type="text" matInput placeholder="Business Name" name="bisName" formControlName="bisName"></p>
    
   <hr>
    <p>change password: <input type="text" matInput placeholder="New Password" name="newPassword" formControlName="newPassword"></p>
    
    <p>confirm password: <input type="text" matInput placeholder="Confirm Password" name="confirmPassword" formControlName="confirmPassword"></p>
   <hr>
  <!----><button class="applyButton" type="submit">APPLY CHANGES</button>

</div>


