<div class="container">
    <form>
        <div class="form-group">
            <div class="row pt-2">
                <div class="col">
                    <label for="staffId">Staff Id Number</label>
                    <input type="text" class="form-control" id="staffId" readonly>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" required>
                </div>

                <div class="col">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" required>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" required>
                </div>
                <div class="col">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone" required>
                </div>
            </div>
            <br>
            <div class="row pt-3">
                <div class="col">
                    <button type="button" class="btn btn-outline-success">Save Changes</button>&nbsp;
                    <button type="button" class="btn btn-outline-warning">Cancel</button>&nbsp;
                    <button type="button" class="btn btn-outline-danger">Delete Staff member</button>
                </div>
            </div>
        </div>
    </form>
</div>