<div class="filter-options">
    <mat-form-field>
        <input matInput placeholder="Booking Name" [formControl]="bookingName">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Customer Name" [formControl]="customerName">
    </mat-form-field>&nbsp;&nbsp;
    Search by date: &nbsp;&nbsp;
    <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="From" [formControl]="fromDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="To" [formControl]="toDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <button class="btn btn-primary" (click)="searchClick()">Search</button>
</div>

<div class="container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="staffId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Staff </th>
            <td mat-cell *matCellDef="let element"> {{element.staffId}} </td>
        </ng-container>
        <ng-container matColumnDef="bookingName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Booking Name </th>
            <td mat-cell *matCellDef="let element"> {{element.bookingName}} </td>
        </ng-container>
        <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
            <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date &amp; Time </th>
            <td mat-cell *matCellDef="let element"> {{element.date | date:'short'}} </td>
        </ng-container>
        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
            <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
        </ng-container>
        <ng-container matColumnDef="guests">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Guests </th>
            <td mat-cell *matCellDef="let element"> {{element.numberOfPeople}} </td>
        </ng-container>
        <ng-container matColumnDef="table">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Table </th>
            <td mat-cell *matCellDef="let element"> {{element.table}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let element"> {{getBookingStatus(element.status)}} </td>
        </ng-container>
        <ng-container matColumnDef="checkedIn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Arrived </th>
            <td mat-cell *matCellDef="let element"> {{element.checkedIn}} </td>
        </ng-container>
        <ng-container matColumnDef="notes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes </th>
            <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit/Delete </th>
            <td mat-cell *matCellDef="let element">
                <fa-icon [icon]="faEdit"></fa-icon>&nbsp;&nbsp;<fa-icon (click)="deleteBooking(element.bookingId)"
                    [icon]="faTrash"></fa-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>