table {
  width: 100%;
  text-align: left;
}

.container {
  width: 100%;
}

mat-form-field {
  margin-right: 12px;
}

.filter-options {
  float: right;
}

tr:hover {
  background-color: rgb(0, 136, 206);
  td,
  th {
    color: white;
  }
}
