button {
  width: 20%;
  padding: 10px;
  margin: 10px;
  background-color: #012169;
  color: #ffffff;
}

button:hover {
  background-color: #0088ce;
  color: #ffffff;
}

.container {
  width: 100%;
}
