<p>This will be a summary/overview for the logged in user as agreed on in the design</p>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <app-overview-tile [title]="title"></app-overview-tile>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-overview-tile [title]="title"></app-overview-tile>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-overview-tile [title]="title"></app-overview-tile>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-overview-tile [title]="title"></app-overview-tile>
    </mat-grid-tile>
  </mat-grid-list>
