mat-grid-tile {
    background: 235, 235, 235 , 0.2;
    max-height: 80%;
    max-width: 80%;
}

app-overview-tile {
    height: 75%;
    width: 80%;
    align-content: center;
    align-items: center;
}