<p>Welcome to your HBS summary...</p>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <app-overview-tile [title]="title"></app-overview-tile>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-overview-tile [title]="title"></app-overview-tile>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-overview-tile [title]="title"></app-overview-tile>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-overview-tile [title]="title"></app-overview-tile>
    </mat-grid-tile>
  </mat-grid-list>
