<div class="container">
    <button mat-raised-button [routerLink]="[{ outlets: { 'staff-managment': ['view-staff'] } }]">View Staff</button>
    <button mat-raised-button [routerLink]="[{ outlets: { 'staff-managment': ['new-staff'] } }]">New Staff</button>
    <button mat-raised-button [routerLink]="[{ outlets: { 'staff-managment': ['edit-staff'] } }]">Edit Staff</button>
    <button mat-raised-button [routerLink]="[{ outlets: { 'staff-managment': ['edit-staff'] } }]">Remove Staff</button>
</div>
<div class="container">
    <router-outlet name="staff-managment"></router-outlet>
</div>