<form>
    <div class="form-group">
        <label for="bookingId"> Booking Id</label>
        <input type="text" class="form-control" id="bookingId" readonly>

        <label for="bookingName"> Booking Name</label>
        <input type="text" class="form-control" id="bookingName" required>

        <label for="customerName">Customer Name</label>
        <input type="text" class="form-control" id="customerName" required>

        <label for="date">Date</label>
        <input type="text" class="form-control" id="date" required>

        <label for="time">Time</label>
        <input type="text" class="form-control" id="time" required>

        <label for="duration">Duration</label>
        <input type="text" class="form-control" id="duration" required>
    </div>
</form>